*{
  margin : 0px;
  padding : 0px;
  color : white;
  font-family: 'Pattaya';
  font-weight : 100;
}
#background{
   background-color : black;
   height : 100vh;   
}
h1{
    padding : 20px;
    font-size : 50px;
    text-align : center;
    color : rgb(255, 153 , 153);
}
.playerX {
    color: #09C372;
}
.playerO {
    color: #498AFB;
}
#display{
   text-align : center;
   font-size : 30px;
}    
#container{
    margin : 0px auto;
    display: grid;
    grid-template-rows : 33% 33% 33%;
    grid-template-columns : 33% 33% 33%;
    max-width : 300px;
    grid-gap : 0px;
    border : none;
}
.tile{
    border : 3px solid white;
    display: flex;
    justify-content : center;
    align-item : center;
    width : 100px;
    height : 100px;
    font-size: 50px;
    cursor: pointer;   
}
.hide{
    display : none;
}
#controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

#controls button{
   padding : 6px;
   font-size : 25px;
   border-radius : 10px;
   border: 2px solid #FF3860;
   width : 100px;
   cursor : pointer;
}
#reset{
   background-color: #FF3860;
}
.announcer{
  display : flex;
  justify-content : center;
  align-items : center;
  font-size : 30px;
  color : rgb(221,160,221);
}
.bt{
  border-top : 0;
}
.br{
  border-right : 0;
}
.bl{
  border-left : 0;
}
.bd{
  border-bottom : 0;
}
.rm_border{
  border : 0;
}